.navbar {
margin-bottom: 0px;
overflow: visible;
background: #000;
}

.navbar .nav {
	background: #eee;
	width: 100%;
}
.adBox {
	height: 100px;
	background: #333;
}
.head {
	height: 150px;
	background: #c8c8c8;
}
.pics {
	margin-top: 15px;
	margin-bottom: 15px;
}
.imgBox {
	height: 63%;
	border: 1px solid #eee;
	
}
.thumbnail {
	height: 370px;
}
.footer {
	height: 70px;
	background: #bac3c0
}